apiVersion: v1
kind: Secret
metadata:
  name: coturn-secrets
  namespace: coturn
type: Opaque
stringData:
  # This serves as the example. Real secret is created by deploy script.
  TURN_SECRET: "changeme"
