apiVersion: v1
kind: Service
metadata:
  name: coturn
  namespace: coturn
  annotations:
    # This instructs external-dns to create the record pointing to the external IP
    # We will patch the target IP in the deploy script or rely on LoadBalancer status
    external-dns.alpha.kubernetes.io/hostname: turn.mydia.dev
    external-dns.alpha.kubernetes.io/target: "194.58.38.130"
    # TURN servers need direct IP access, not Cloudflare proxy
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
spec:
  # LoadBalancer in k3s (Klipper) will bind these ports on the node IP
  type: LoadBalancer
  selector:
    app: coturn
  ports:
    - name: turn-tcp
      port: 3478
      targetPort: 3478
      protocol: TCP
    - name: turn-udp
      port: 3478
      targetPort: 3478
      protocol: UDP
    - name: turns-tcp
      port: 5349
      targetPort: 5349
      protocol: TCP
    - name: turns-udp
      port: 5349
      targetPort: 5349
      protocol: UDP
