apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: iroh-relay-data
  namespace: iroh-relay
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: local-path
  resources:
    requests:
      storage: 100Mi
