name: Build Windows App

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    name: Build Windows Executable
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./player

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Get Dependencies
        run: flutter pub get

      - name: Generate Icons
        run: dart run flutter_launcher_icons

      - name: Enable Desktop
        run: flutter config --enable-windows-desktop

      - name: Build Windows Release
        run: flutter build windows --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MydiaPlayer-Windows
          path: player/build/windows/x64/runner/Release/
